@model dynamic

@{
    ViewBag.Title = "Session Lock Test";
}

<h2>@ViewBag.Title</h2>
<div id="responseContainer" class="row">
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            for (var i = 0; i < 3; i++) {
                SomeWork(i);
            }
        });

        function AddResponse(title, time) {
            var container = $("#responseContainer");
            container.append("<div class='alert alert-info col-md-4' role='alert'>" + title + " Time: " + time + " ms</div><div class='clearfix'></div>");
        }

        function SomeWork(i) {
            var start = moment();

            $.post("@Url.Action("SomeWork")",
            function (data) {
                var end = moment();
                var time = moment.duration(end.diff(start)).asMilliseconds();
                AddResponse("Some Work: " + i, time);
            },"json");
        }
    </script>
}
